/*===============================================
Default css
===============================================*/
body {
	margin: 0;
	padding: 0;
}

:root {
	--font15: 15px;
	--font20: 20px;
	--font30: 30px;
	--font50: 50px;

	/* all color  */
	--color1: #000;
	--color2: #F7B923;
	--color3: #F2684B;
	--color4: #6098D1;
	--color5: #49977D;
	--color6: #F0F0F0;

	/* font family  */
	--semibold: 'bs-sb';
	--regular: 'bs-r';
	--medium: 'bs-m';
	--bold: 'bs-b';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	margin: 0;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

@media (min-width:1500px) {
	.container {
		max-width: 1280px;
	}
}
/*=================================================================
				Start Main css
=================================================================*/

/* header css  */
.header_design {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 34px 0;
}

.full_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_left {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.logo {
	margin-right: 55px;
}

.logo img {
	width: auto;
	height: 30px;
}

.menu {}

.menu ul {
	display: flex;
	align-items: center;
}

.menu ul li {
	margin-right: 40px;
	position: relative;
	transition: 0.2s;
}
.menu ul ul{
	position: absolute;
	background: #FFF;
	border-radius: 4px;
	padding: 8px 5px;
	display: none;
	transition: 0.2s;
}
.menu ul > li:hover > ul{
	display: flex;
}
.menu ul ul li{
	margin-right: 0px;
}
.menu ul ul li a{
	color: #000 !important;
	padding: 0 15px;
}

.menu ul li:last-child {
	margin-right: 0;
}

.menu ul li a {
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
	font-size: var(--font15);
	transition: 0.2s;
	font-family: var(--regular);
	font-weight: 400;
}

.menu ul li a:hover {
	opacity: 0.8;
}

.header_right {
	display: flex;
	align-items: center;
}

.button a {
	width: 124px;
	height: 45px;
	background: var(--color5);
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font15);
	color: #FFF;
	font-family: var(--regular);
	font-weight: 400;


}

.language_select {
	margin-right: 15px;
}

.language_select .nice-select::after {
	border-bottom: 2px solid #FFF !important;
	border-right: 2px solid #FFF !important;
	content: '';
}

.language_select .nice-select .option {
	color: #000;
}

.language_select .nice-select {
	background: transparent;
	border: none;
	color: #FFF;
	font-size: var(--font15);
	font-family: var(--regular);
	font-weight: 400;
	padding: 0;
	padding-right: 22px;
	padding-left: 19px;
}

.language_select .nice-select .current {
	color: #FFF;
	font-size: var(--font15);
	font-family: var(--regular);
	font-weight: 400;
}

p {
	font-size: var(--font20);
	color: var(--color1);
	font-family: var(--regular);
}

/* end Header css  */


/* Hero slider area design  */
.hero_slider {
	position: relative;
	z-index: 1;
}

.hero_slider::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 265px;
	bottom: 0;
	left: 0;
	background: url(../images/home/path.png) no-repeat scroll 0 0 / 100% 100%;
	z-index: 1;
}

.single_hero_slider {
	position: relative;
	z-index: 1;
	background-position: 0 0 !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
}

.single_hero_slider:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0, 0, 0, 0.3);
}

.single_hero_slider {
	padding-top: 100px;
	padding-bottom: 278px;
}

.slider_top {
	width: auto;
	height: 115px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 58px;
	opacity: 1;
	display: inline-block;
}

.icon {
	background: #F7B923 0% 0% no-repeat padding-box;
	opacity: 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 115px;
	height: 115px;
	float: left;
}

.icon img {
	width: 50px !important;
}

.slider_top h3 {
	font-size: var(--font30);
	color: var(--color1);
	font-family: var(--bold);
	font-weight: 700;
	line-height: 33px;
	padding: 0 22px;
	padding-right: 30px;
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}

.slider_bottom {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.single_text h1 {
	font-size: var(--font50);
	color: #FFF;
	font-weight: 700;
	font-family: var(--bold);
}

.single_text h1 span {
	color: var(--color2);
}

.single_text p {
	color: #FFF;
}

.single_text h5 {
	color: #FFF;
	font-size: 25px;
	margin-top: 7px;
	margin-bottom: 2px;
}

.single_text {
	max-width: 420px;
	width: 100%;
}

.single_text2 h1 {
	font-size: var(--font50);
	text-transform: uppercase;
	font-family: var(--bold);
	font-weight: 700;
}

.hero_slider.owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute !important;
	z-index: 9999 !important;
	left: 0;
	right: 0;
	max-width: 367px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.hero_slider.owl-theme .owl-dots,
.hero_slider.owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	position: absolute;
	bottom: 27px;
	left: 0;
	right: 0;
	z-index: 999999;
}

.slider_top1 {
	display: flex;
	flex-wrap: wrap;
}

.slider_top1 a {
	margin-right: 35px;
	font-size: 17px;
	text-align: center;
}

.slider_top1 a .icon {
	margin-bottom: 15px;
}

.slider_top1 a h5 {
	color: #FFF;
	font-size: 17px;
	font-family: var(--bold);
	font-weight: 700;
	margin-top: 15px;
	display: block;

}

.hero_slider.owl-theme .owl-dots .owl-dot span {
	width: 16px;
	height: 16px;
	margin: 0 20px;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
}

.hero_slider.owl-theme .owl-dots .owl-dot:first-child span {
	background: var(--color2) !important;
}

.hero_slider.owl-theme .owl-dots .owl-dot:nth-child(2) span {
	background: var(--color3) !important;
}

.hero_slider.owl-theme .owl-dots .owl-dot:nth-child(3) span {
	background: var(--color4) !important;
}

.hero_slider.owl-theme .owl-dots .owl-dot:nth-child(4) span {
	background: var(--color5) !important;
}

.hero_slider.owl-theme .owl-dots {
	align-items: center;
	display: flex;
	justify-content: center;
	max-width: 200px;
	margin: 0 auto;
}

.hero_slider.owl-theme .owl-dots .owl-dot.active span {
	width: 30px !important;
	height: 30px !important;
}

button {
	outline: none !important
}

.hero_slider .owl-nav span {
	font-size: 43px !important;
}

.hero_slider.owl-theme .owl-nav {
	max-width: 294px;
	bottom: 13px;
}

/* end Hero slider  */

/* feature css  */
.feature_area {
	padding-top: 55px;
	padding-bottom: 130px;
}

.section_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section_header h1 {
	font-size: var(--font50);
	color: var(--color5);
	font-family: var(--bold);
	font-weight: 700;
}

.section_header a {
	border: 1px solid #49977D;
	border-radius: 6px;
	opacity: 1;
	color: var(--color5);
	font-family: var(--regular);
	font-weight: 400;
	padding: 12px 15px;
	transition: 0.2s;
}

.section_header a:hover {
	background: var(--color5);
	color: #FFF;
}

.all_feature {
	padding-top: 76px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.single_feature {
	max-width: 269px;
	margin: 0 5%;
	height: 393px;
	text-align: center;
	position: relative;
	transition: 1s;
	margin-bottom: 60px;
}

.feature_con {
	transition: 1s;
}

.single_feature:hover .feature_con {
	height: 100%;
	transform: translateY(-60%);
	background: #FFF;
}

.single_feature:hover .feature_con .f_second {
	height: auto;
}

.single_feature a {
	font-size: var(--font20);
	color: var(--color1);
	font-family: var(--regular);
	font-weight: 400;
}

.feature_img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: #F0F0F0;
	border-radius: 50%;
	margin-bottom: 26px;
}

.feature_img img {
	width: 100%;
}

.f_first {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 11px;
}

.f_second {
	height: 75px;
	overflow: hidden;
	line-height: normal;
	transition: 1s;
}

.partner_area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.partner_text {
	max-width: 247px
}

.partner_logo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.partner_logo a {
	margin: 0 20px;
}

.partner_logo img {
	max-width: 159px;
}

/* End feature css  */

/* forebase_area */
.forebase_area {
	position: relative;
	z-index: 1;
	padding-top: 45px;
	padding-bottom: 162px;
	overflow: hidden;
}
.hero_slider .owl-nav span {
	font-size: 31px !important;
	color: #000 !important;
}

.forebase_area:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent linear-gradient(90deg, #FFFFFFD0 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
	z-index: -1;
}

.forebase_left {
	margin-top: 125px;
}

.fore_logo {
	margin-bottom: 36px;
}

.fore_logo img {
	height: 60px;
}

.forebase_left h6 {
	font-size: 25px;
	color: #000;
	font-family: var(--bold);
	font-weight: 700;
}

.fore_bottom {
	margin-top: 80px;
}

.fore_bottom_logo {
	display: flex;
	align-items: center;
}

.fore_bottom_logo img {
	max-height: 33px;
	max-width: 204px;
}

.fore_bottom_logo:first-child a {
	margin-left:0;
}

.fore_img {
	height: 124px;
	width: 124px;
	background: #49977D;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 47px;
	margin-top: -100px;
}

.fore_img img {
	width: 100%;
}

.single_fore_slider {
	background: #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	padding: 30px;
	padding-bottom: 60px;
}

.fore_slider.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	padding-top: 82px;
}

.row.forebase_con {
	transform: translateX(171px);
}

.fore_slider.owl-carousel.owl-theme.owl-loaded.owl-drag {
	margin-top: 85px;
}

.fore_slider.owl-theme .owl-dots .owl-dot span,
.partnar_slider.owl-theme .owl-dots .owl-dot span {
	width: 16px;
	height: 16px;
	margin: 5px 7px;
	background: #BEBEBE;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
}

.fore_slider .owl-dots .owl-dot,
.partnar_slider .owl-dots .owl-dot  {
	display: inline-block;
	zoom: 1;
	margin: 0 11px;
}

.fore_slider.owl-theme .owl-dots .owl-dot.active span,
.fore_slider.owl-theme .owl-dots .owl-dot:hover span,
.partnar_slider.owl-theme .owl-dots .owl-dot.active span,
.partnar_slider.owl-theme .owl-dots .owl-dot:hover span {
	background: #49977D !important;
	
}

.fore_slider.owl-dots {
	max-width: 222px;
	margin: 0 auto;
}

button:hover {
	background: none !important;
}

.fore_slider .owl-nav,
.partnar_slider .owl-nav {
	width: 240px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	left: 0;
	right: 0;
	bottom: -52px;
}

.fore_slider.owl-carousel .owl-nav button.owl-next,
.fore_slider.owl-carousel .owl-nav button.owl-prev,
.fore_slider.owl-carousel button.owl-dot,
.partnar_slider.owl-carousel .owl-nav button.owl-next,
.partnar_slider.owl-carousel .owl-nav button.owl-prev,
.partnar_slider.owl-carousel button.owl-dot {
	color: #000 !important;
	font-size: 36px;
	line-height: normal;
	z-index: 99;
	position: relative;
}

.fore_slider .owl-dots,
.partnar_slider .owl-dots  {
	position: absolute;
	bottom: -47px;
	left: 0;
	right: 0;
}

/* End forebase_area */
.google a {
	text-decoration: underline;
	font-size: var(--font15);
	font-weight: 400;
	font-family: var(--regular);
	color: #000;
	margin-top: 19px;
	display: inline-block;
}

.counter_area_design {
	padding: 75px 0;
	background: #F0F0F0;
}

.mixer_counter {
	display: flex;
	flex-wrap: wrap;
}

.single_counter {
	display: flex;
	align-items: center;
	margin: 0 25px;
}

.single_counter:nth-child(1) {
	margin-left: 0;
}

.single_counter:nth-child(2) {
	margin-right: 0;
}

.single_counter h2 {
	font-size: var(--font50);
	color: var(--color5);
	font-family: var(--bold);
	font-weight: 700;
	margin-right: 20px;
}
.all_partner_area {
	padding: 60px 0;
	padding-bottom: 180px;
}
.partnar_slider {
	margin-top: 61px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.partnar_slider a img {
	height: auto !important;
	max-width: 76%;
}
.contact_area_design{
	padding-top: 55px;
	padding-bottom: 100px;
	background: #49977D;
	position: relative;
	z-index: 1
}
.contact_area_design::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 166px;
	background: url(../images/fore-logo/path1.png) no-repeat scroll 0 0 / 100% 100%;
	top: -163px;
	left: 0;
	z-index: -1;
}
.all_contact{
}
.all_contact .section_header h1{
	color: #FFF;
	margin-bottom: 37px;
}
.all_form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.single_form_group {
	max-width: 49%;
	flex: 0 0 49%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-end;
}
.single_form {
	margin-bottom: 10px;
	width: 100%;
}
.single_form:last-child{
	margin-bottom: 0;
}
.single_form textarea,
.single_form input{
	border: 1px solid #FFFFFF;
	background: transparent;
	padding: 13px;
	border-radius: 4px;
	outline: none;
	width: 100%;
	font-family: var(--medium);
	color: #FFF;
	font-size: var(--font15);

}
.single_form textarea{
	min-height: 228px;
}
.input_g {
	width: 100%;
}
.single_form input::placeholder,
.single_form textarea::placeholder{
	color: #FFF;
	opacity: 1;
}
.single_form input[type="submit"] {
	width: 124px;
	height: 45px;
	background: #FFFF;
	color: #254C3F;
	float: right;
	cursor: pointer;
	transition: 0.2s;
}
.single_form input[type="submit"]:hover{
	color: #FFF;
	background: #000;
	border: 1px solid #000;
}
.c_icon {
	width: 44px;
	height: 44px;
	border: 4px solid #FFFFFF;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #FFF;
	line-height: normal;
	margin-right: 30px;
}
.single_contact {
	display: flex;
	align-items: center;
	margin-bottom: 27px;
}
.single_contact p,
.single_contact a{
	color: #FFF;
	font-family: var(--bold);
	font-weight: bold;
	font-size: var(--font20);
}
.all_contact.right_contact_all {
	padding-left: 47px;
}

.footer_area_design{
	padding: 86px 0;
	padding-bottom: 50px;
	background-color: #1C1C1C;
}
.f_logo img {
	width: 156px;
}
.f_logo {
	margin-bottom: 37px;
}
.footer_link ul{
	display: flex;
	flex-wrap: wrap;
}
.footer_link ul li {
	margin-right: 14px;
}
.footer_link ul li a{
	width: 42px;
	height: 42px;
	border-radius: 50px;
	color: #FFF;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #000;
	transition: 0.2s;
}
.footer_link ul li:hover{
	opacity: 0.8;
}
.footer_menu_all{

}
.footer_single_link{
	margin: 0 10px;
}
.footer_single_link h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	margin-bottom: 5px;
	min-height: 69px;
	line-height: 33px;
}
.footer_single_link ul{
}
.footer_single_link ul li{
}
.footer_single_link ul li a{
	color: #9A9A9A;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	margin-bottom: 5px;
	padding: 2px 0;
	display: inline-block;
	transition: 0.2s;

}
.footer_single_link ul li:hover a{
	opacity: 0.8;
}
.footer_menu_all {
	display: flex;
	justify-content: space-around;
}
.footer_right .footer_single_link h3 {
	margin-bottom: 10px;
	min-height: auto;
}
.footer_single_link:last-child{
	margin-bottom: 0;
}
.footer_partnar{
	background: #FFF;
	border-radius: 35px;
	padding: 30px;
}
.footer_partnar img{
	width: 100%;
}
.copyright{
	padding-top: 50px;
}
.copyright  ul{
	display: flex;
	flex-wrap: wrap;
}
.copyright ul li{
	padding-right: 60px;
}
.copyright ul li:last-child{
	padding-right:0 ;
}
.copyright ul li a{
	font-size: 16px;
	color: var(--color6);
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	transition: 0.2s;
}
.copyright ul li:hover a{
	opacity: 0.7;
}

/* Humberger css  */
.btn15 {
	height: 43px;
	transition-duration: 0.5s;
	padding-top: 18px;
	margin-left: 10px;
	cursor: pointer;
	display: none;
  }
  .btn15 .icon {
	transition-duration: 0.5s;
	height: 2px;
	width: 24px;
	background-color: #FFF;
	border-radius: 4px;
	left: 15px;
  }
  .btn15 .icon:before {
	transition-duration: 0.5s;
	position: absolute;
	width: 17px;
	height: 2px;
	background-color: #FFF;
	content: "";
	top: 12px;
	border-radius: 4px;
  }
  .btn15 .icon:after {
	transition-duration: 0.5s;
	position: absolute;
	width: 17px;
	height: 2px;
	background-color: #FFF;
	content: "";
	top: 27px;
	border-radius: 4px;
  }
  .btn15.open .icon {
	transition-duration: 0.5s;
	background: transparent;
  }
  .btn15.open .icon:before {
	transform: rotateZ(45deg) scaleX(1.25) translate(3.5px, 6.5px);
  }
  .btn15.open .icon:after {
	transform: rotateZ(-45deg) scaleX(1.25) translate(3px, -6px);
  }


  
/* End Humberger css  */


/* Sign in page css  */
.sign_in_section {
	background: #49977D;
	padding-top: 145px;
	padding-bottom:357px;
	position: relative;
	z-index: 1;
}
.sign_in_section:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 265px;
	bottom: -2px;
	left: 0;
	background: url(../images/home/path.png) no-repeat scroll 0 0 / 100% 100%;
	z-index: 1;
}
.signinfull_area {
	max-width: 662px;
	margin: 0 auto;
	width: 100%;
}
.signinfull_area h1{
	font-size: 50px;
	color: #FFF;
	font-family: var(--bold);
	font-weight: 700;
	margin-bottom: 23px;
}
.sign_in_form {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 40px;
	opacity: 1;
	padding: 22px;
}
.sign_in_form .nav-pills .nav-link{
	box-shadow: inset 0px 5px 10px #00000029;
	border-radius: 30px;
	opacity: 1;
	text-align: center;
	font-size: 20px;
	font-family: var(--bold);
	font-weight: 700;
	letter-spacing: 0px;
	color: #000000;
	text-transform: uppercase;
	opacity: 1;
	padding: 25px 10px;
}
.sign_in_form .nav-item {
	max-width: 48%;
}
.sign_in_form .nav-pills {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px !important;
}
.sign_in_form .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #49977D;
	color: #FFF !important;
}
.sign_in_form .form-control {
	display: block;
	width: 100%;
	padding:13px;
	font-size: 15px;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #49977D;
	border-radius: 6px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	font-family:var(--regular);
}
.form-control:focus{
	box-shadow: 0 !important;
}
.sign_in_form .btn-primary {
	color: #fff;
	background-color: #49977D;
	border-color: #49977D;
	padding: 11px;
	max-width: 126px;
	font-size: 15px;
	font-weight: 500;
	font-family: var(--medium);
	height: 52px;
}
.group_flex{
	display: flex;
	justify-content: flex-end;
}
.checkbox {
	max-width: 400px;
	width: 100%;
}
.form-group.group_flex.group_flex_2 {
	justify-content: space-between;
}
.checkbox label{
	display: flex;
	font-weight: 400;
	font-family: var(--regular);
	font-size: 15px;
	letter-spacing: 0px;
	color: #000000;
}
.checkbox label a{
	text-decoration: underline;
	color: #000;
}
.laces-checkbox {
	display: inline-block;
	width: 2rem;
	max-width: 34px;
	font-size: 1.2rem;
	line-height: 1.8rem;
	text-align: center;
	border: 1px solid #49977d;
	border-radius: 0.3rem;
	max-height: 34px;
	flex: 0 0 59px;
	margin-right: 14px;
}
  .checkbox .form-check {
	position: relative;
	display: block;
	padding-left: 0;
	display: flex;
}
.signup_header .button a,
.d_header .button a {
	background: #FFF;
	color: #49977D;
}
/* End Sign in page css  */

/* another pages   */
.default_hero_bannar {
	background: #F7B931;
	padding-top: 146px;
	padding-bottom: 108px;
	position: relative;
	z-index: 11;
}
.partnar_header {
	background: #f7b931;
	padding: 23px 0;
}
.d_top_heading h1{
	font-size: 50px;
	color: #FFF;
	font-family: var(--bold);
	font-weight: 700;
}
.d_top_heading p {
	color: #FFF;
	margin-top: 10px;
	max-width: 557px;
	width: 100%;
}
.d_top_middle {
	margin-top: 46px;
	margin-bottom: 97px;
	display: flex;
	flex-wrap: wrap;
}
.d_single {
	margin-right: 50px;
}
.d_icon{
	width: 165px;
	height: 165px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	border-radius: 50%;
}
.d_icon img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.d_single a {
	text-align: center;
}
.d_single h4{
	font-size: 23px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-family: var(--bold);
	margin-top: 20px;
}

.d_bottom_link {
	display: flex;
	flex-wrap: wrap;
}
.d_bottom_link a{
	box-shadow: 0px 3px 6px #00000029;
	width: 200px;
	height: 45px;
	background: transparent;
	color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	font-size: 15px;
	font-weight: 500;
	font-family: var(--medium);
	text-transform: uppercase;
	border: 1px solid #FFF;
	border-radius: 6px;
}
.d_bottom_link a:first-child{
	background-color: #FFF;
	color: #254C3F;
}

.default_right_con h1 {
	color: #000;
}

.d_right_icon {
	width: 80px;
	height: 80px;
	border: 4px solid #000;
	border-radius: 50%;
}
.single_r_middle {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	justify-content: space-between;
}
.d_right_icon img{
	width: 100%;
	height: 100%;
}
.d_right_con {
	max-width: 401px;
}
.d_right_con h3{
	color:#000;
	font-size:25px;
	font-weight: 700;
	font-family: var(--bold);
	margin-bottom: 10px;
}
.position {
	position: absolute;
	width: 36%;
	bottom: 7%;
	right: 0;
	z-index: -1;
}
.position img{
	width: 100%;
}
.default_hero_bannar::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 183px;
	bottom: -2px;
	left: 0;
	background: url(../images/fore-logo/path2.png) no-repeat scroll 0 0 / 100% 100%;
	z-index: -1;
}
.sticky{
	position: fixed;
	top: 0;
}
.d_feature_left .single_r_middle {
	justify-content: inherit;
}

.d_feature_left .d_right_con {
	max-width: 492px;
	margin-left: 23px;
	width: 100%;
}

.default_feature {
	background: #f0f0f0;
	overflow: hidden;
	z-index: 11;
	position: relative;
	padding: 60px 0;
}
.default_feature .d_top_heading h1 {
	color: #F7B931;
}
.d_feature_left .d_top_heading p {
	color: #000;
	font-size: 25px;
	font-weight: 700;
}
.d_top_heading {
	margin-bottom: 50px;
}

.d_feratue_img{
	border-radius: 30px;
	overflow: hidden;
}
.d_feratue_img img{
	width: 100%;
	object-fit: cover;
	height: 100%;
	border-radius: 30px;
}
.fixed-top {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
	z-index: 99999999999 !important;
}
.necked_area_design {
	padding: 60px 0;
}
.necked_area_design .d_top_heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.necked_area_design .d_top_heading h1 {
	color: #000;
}
.necked_area_design .d_top_heading  a{
	border: 1px solid #49977D;
	border-radius: 6px;
	padding: 14px;
	color: #49977D;
	font-size: 15px;
	font-weight: 500;
	font-family: var(--medium);
}

.necked_left_all {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
.necked_single {
	text-align: center;
	flex: 0 0 32%;
	margin: 24px 3px;
}
.neck_iocn{
	width: 124px;
	height: 124px;
	background-color: #49977D;
	border-radius: 50%;
	margin: 0 auto;
}
.neck_iocn img{
	width: 100%;
	height: 100%;
}
.necked_single h4 {
	color: #000;
	font-size: 20px;
	font-family: var(--regular);
	font-weight: 400;
	max-width: 183px;
	margin: 0 auto;
	margin-top: 40px;
}
.map_img{
	margin-top: 38px;
}
.map_img img{
	width: 100%;
}
.contact_area_design.contact_area_design2::before {
	display: none;
}
.all_partner_area.all_partner_area2 {
	padding-bottom: 60px;
}
.section_header5{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section_header5 h1{
	color: #FFF;
}
.section_header5 a{
	background: #FFF;
	color: #254C3F;
	font-size: 25px;
	font-family: var(--medium);
	font-weight: 500;
	border: none;
	padding: 15px 20px;
}
.section_header5 a:hover{
	background: #FFF;
	color: #254C3F;
}
.section_header.section_header5 {
	margin-bottom: 85px;
}
.section_header p{
	font-size: 25px;
	color: #000;
	font-family: var(--medium);
	font-weight: 500;
}
.section_header_d{
	margin-bottom: 50px;
}
.single_form_group.single_form_group1 {
	max-width: 33%;
}
.single_form_group.single_form_group2 {
	max-width: 65%;
	flex: 0 0 65%;
}
.single_form_group.single_form_group1 input,
.single_form_group.single_form_group2 textarea{
	color:#000000;
	border: 1px solid #000000;
}
.single_form_group.single_form_group1 input::placeholder,
.single_form_group.single_form_group2 textarea::placeholder{
	color: #000;
}
.single_form {
	font-style: italic;
}
.single_form_group.single_form_group2 textarea {
	min-height: 162px;
}
.contact_area_design.contact_area_design2 {
	padding: 80px 0;
	padding-bottom: 148px;
	margin-bottom: -100px;
}
/* End another pages css  */

.pages_next_prev_area{
	padding-top: 96px;
	padding-bottom: 27px;
	background: url(../images/fore-logo/black.png) no-repeat scroll 0 0 / 100% 100%;
	position: relative;
	z-index: 99;
}
.pages_link_all{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pages_link_all a{
	font-size: 25px;
	font-weight: 600;
	font-family: var(--semibold);
	color: #FFF;
	display: flex;
	align-items: center;
}
.pages_link_all a i {
	font-size: 78px;
	margin: 0 30px;
}
.pages_link_all a:last-child i{
	margin-right: 0;
}
.pages_link_all a:first-child i{
	margin-left: 0;
}
.single_group_form11 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 16px;
	max-width: 100%;
	flex: 0 0 100%;
}
.single_group_form11 p {
	max-width: 69%;
}

/* Mixer page  */
.mixer_header{
	background: #F2684B;
}
.d_top_middle1 {
	margin-bottom: 62px;
}
.position1 {
	width: auto;
	bottom: 0;
}
.all_mix_feature {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 174px;
	padding-bottom: 30px;
}
.single_mix{
	position: relative;
	background: #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	padding: 10px;
	flex: 0 0 19%;
	max-width: 19%;
	z-index: 1;
	padding-bottom: 25px;
}
.single_mix::before {
	content: "";
	background: url(../images/fore-logo/circle.png) no-repeat scroll 0 0 / 100% 100%;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 61px;
	top: -83px;
}
.single_mix:last-child:before {
	display: none;
}
.mix_c_1 {
	width: 124px;
	height: 124px;
	background-color: #F2684B;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: -70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mix_c_2{
	width: 80px;
	height: 80px;
	border: 2px solid #FFF;
	border-radius: 50%;
}
.single_mix h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	font-family:var(--bold);
	margin-bottom: 18px;
}
.single_mix p{
}
.text1{
	display: flex;
	align-items: center;
	justify-content: center;
}
.text1 span{
	color: #000;
	font-size: 50px;
	font-weight: bold;
	font-family: var(--bold);
}
.d_feature_linking{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.d_feature_linking a{
	font-size: 15px;
	font-weight: 500;
	font-family: var(--medium);
	text-transform: uppercase;
	width: 234px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #49977D;
	color: #FFF;
	border-radius: 4px;
}
.d_feature_linking a:last-child{
	background: #1977F3;
}
.default_feature_mixer {
	padding-bottom: 168px;
	margin-bottom: -100px;
}
/* End Mixer page  */

/* package page css  */
.package_area {
	padding-top: 160px;
	padding-bottom: 231px;
	position: relative;
	background-color: #6098D1;
	z-index: 11;
}
.package_area::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 162px;
	bottom: -1px;
	left: 0;
	background: url(../images/home/path.png) no-repeat scroll 0 0 / 100% 100%;
	z-index: 1;
}

.pack_top{
	margin-bottom: 50px;
}
.package_header{
	background-color: #6098D1;
}
.pack_top a{
	font-size: 20px;
	color: #FFF;
	font-family: var(--medium);
	font-weight: 500;
	display: flex;
	align-items: center;

}
.pack_top a i {
	font-size: 61px;
	margin-right: 26px;
}
.package_bottom{
	display: flex;
	align-items: center;
}
.pack_cross{
	width: 200px;
	height: 200px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
}
.pack_cross img {
	width: 75px;
}
.pack_content{

}
.pack_content h2{
	font-size: 29px;
	color: #FFF;
	font-weight: bold;
	font-family: var(--bold);
	text-transform: uppercase;
}
.pack_content h3{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 500;
	font-family: var(--medium);
}
.code_area{
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
}
.code_area input{
	border: 1px solid #FFF;
	border-radius: 6px;
	background: transparent;
	outline: none;
	width: 297px;
	height: 45px;
	font-size: 15px;
	font-weight: 400;
	font-family: var(--regular);
	font-style: italic;
	padding: 14px;
	color: #FFF;
	text-align: center;
}
.code_area button{
	width: 108px;
	height: 45px;
	background: #FFF !important;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #6098D1 !important;
	font-weight: 500;
	font-family: var(--medium);
	border-radius: 6px;
	margin-left: 15px;
	cursor: pointer;
	border: none;
	outline: none;
}
.plus_header {
	background: #49977D;
}
.pack_con_p p{
	font-size: 20px;
	font-style: italic;
	color: #FFF;
}
.plus img{
	width: 60%;
}

.position11{
	width: 70%;
}
.plus_minus_feature {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
}
.new {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 30px;
	opacity: 1;
	padding: 37px;
	text-align: center;
	min-height: 385px;
}
.plus_single {
	flex: 0 0 32%;
	text-align: center;
}
.plus_icon {
	width: 124px;
	height: 124px;
	background: #F7B923;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 34px;
	margin-top: -101px;
	z-index: 99;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plus_icon img{
	height: 45px;
}
.new h4{
	color:#000;
	font-size: 20px;
	font-weight: bold;
	font-family: var(--bold);
	margin-bottom: 10px;
	text-transform: uppercase;
}
.first_title {
	color: #FFF;
	text-transform: uppercase;
	margin-bottom: 92px;
}
.plus_area:after{
	display: none;
}
.package_area.plus_area {
	margin-bottom: -119px;
}
.package_area.plus_area .package_bottom {
	align-items: center;
}
/* End pakage page css  */